/* CSS Document */
body{
	background:yellow !important;
	height:100% !important;
	}
.top{
	width:100%;
	
	height:44px;
	
	}
.top h3{
	margin:0;
	padding:0;
	color:#FFFFFF;
	line-height:44px;
	padding-left:30px;
	text-transform:uppercase;
	font-size:13px;
	font-weight:bold;
	}	
.form-signin
{
max-width: 330px;
padding: 15px;
margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
margin-bottom: 10px;
}
.form-signin .checkbox
{
font-weight: normal;
}
.form-signin .form-control
{
position: relative;
font-size: 16px;
height: auto;
padding: 10px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.form-signin .form-control:focus
{
z-index: 2;
}
.form-signin input[type="text"]
{
margin-bottom: -1px;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
margin-bottom: 10px;
border-top-left-radius: 0;
border-top-right-radius: 0;
}
.account-wall
{
margin-top: 20px;
padding: 40px 0px 20px 0px;
background-color: #ffffff;
box-shadow: 0px 2px 8px 9px #CCC;
border-radius:15px;
}
.bglogin{
	background:yellow;
	}
.login-title
{
color: #c64934;
font-size: 18px;
font-weight: 400;
display: block;
}
.profile-img
{
width: 126px;
margin: 0 auto 10px;
display: block;

}
.need-help
{
margin-top: 10px;
}
.new-account
{
display: block;
margin-top: 10px;
}
h3.myname{
	text-align:center;
	color:#000000;
	font-size:16px;
	}
h3.trungtam{
	text-align:center;
	color:#000000;
	font-size:16px;
	}	
.thongbao{
	position:absolute;
	right:0px;
	top:0px;
	z-index:99999999999999999;
	}	