/*!
 * Start Bootstrap - SB Admin Bootstrap Admin Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
td li{float:left;padding:0px 5px}
/* Global Styles */li{list-style:none}
.boido{
	background:#428bca !important;
}
.boido a{
	color:#FFF !important;
}
body {
    margin-top: 100px;
    background-color: #ffffff;
	
}


@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
		
    }

    #page-wrapper {
        padding: 10px;
		min-height:600px;
		
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
    font-weight: bold;
    color: #000;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #167ac6;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 226px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #ffffff;
		border-right:1px solid #e2e2e2;
		min-height:580px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #cc181e !important;
    }
}
.side-nav>li{
	border-bottom:1px solid #e2e2e2;
	}
.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #333;
	font-weight:bold;
}


.side-nav>li>ul>li>a:hover {
    color: #fff;
	background:#444444 !important;
	text-shadow:2px 2px 2px #00FFFF;
	font-weight:lighter !important;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}


.action-f a i{
	font-size:20px;
	margin:0px 3px;}
.action-f a i.glyphicon-remove{
	color:#F00;
	}	
.action-f a i.glyphicon-pencil{
	color:#00F;
	}
td.status{
	text-align:center;
	}	
.status i{
	font-size:18px;
	}	
.status i.glyphicon-ok{
	color:#0C0;
	}	
.status i.glyphicon-question-sign{
	color:#F90;
	}	
.status i.glyphicon-lock{
	color:#F00;
	}					
/*-----------.pagination---------------*/
.pagination{
	margin-bottom:5px; 
	text-align:right;
	}
.pagination a{
	text-decoration:none; 
	font-weight:bold; 
	padding:5px 10px; 
	border:#f60 0px solid;
	background:#3071a9;
	margin:0 1px; 
	color:#fff;
	
	}
.pagination a.active{
	color:#fff; 
	background:#4cae4c
	}	
	
	
.select{
	background:#c9e8f7 !important;}	
.left-f{
	border:2px solid #c0c0c0;
	padding:10px;
	margin-bottom:15px;

	margin-right:50px;
	}
.left-f header{
	background:#428bca;
	text-align:center;
	color:#fff;
	}		
.right-f{
	border:2px solid #c0c0c0;
	
	padding:10px;
	margin-bottom:15px;
	
	}
.right-f header{
	background:#428bca;
	text-align:center;
	color:#fff;
	}			
.order-input{
	width:50px;
	height:26px;
	outline:none;
	text-align:center;
	border:#c0c0c0;
	}	
.proimg{
	width:125px;
	border:1px solid #C0c0c0;
	padding:2px;
	margin-right:15px;
	}	
.inputsl{
	width:320px;
	outline:none;
	border:1px solid #c0c0c0;
	height:30px;
	margin-left:15px;
	padding-left:13px;
	border-radius:6px;
	}	
#listimg{
	width:100%;
	float:left;
	}	
#listimg li{
	float:left;
	list-style:none;
	margin-right:20px;
	margin-bottom:20px;
	}	
#listimg li img{
	width:150px;
	min-height:150px;
	border:1px solid #c0c0c0;
	padding:2px;
	}	
.ajaximg{
	width:100%;
	float:left;
	}	
.ajaximg li{
	float:left;
	list-style:none;
	margin-right:20px;
	margin-left:70px
	margin-bottom:20px;
	}	
.ajaximg li img{
	width:350px;
	border:1px solid #c0c0c0;
	padding:2px;
	}
.ajaximg2{
	width:100%;
	float:left;
	}	
.ajaximg2 li{
	float:left;
	list-style:none;
	margin-right:20px;
	margin-left:70px
	margin-bottom:20px;
	}	
.ajaximg2 li img{
	width:70px;
	border:1px solid #c0c0c0;
	padding:2px;
	}			
.anhdaidien{
	border: 1px solid #c0c0c0;
	padding: 2px;
	border-radius: 7px;
	margin-left: 30px;
	margin-bottom: 30px;
	margin-top: 13px;}	
#ChangePass{
	display:none;
	}	
input[type=radio] {
    width:25px !important;
    height:25px !important;
}
input[type=checkbox] {
    width:25px !important;
    height:25px !important;
}



